<!DOCTYPE html>
<html>
{% load crispy_forms_tags %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'messaging/profile.css' %}">
</head>

<body class="heading" style="background-color:rgb(200,212,213);">
<nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
    <div class="container"><a href="#" class="navbar-brand" id="nav-brand">Learning Managemet System</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse d-flex flex-row justify-content-end" id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a href="{% url 'classroom:home' %}" class="btn btn-success nav-link mr-3" id="button2">Home</a></li>
                {% if role == "Student" %}
                    <li role="presentation" class="nav-item"><a href="{% url 'classroom:registration' student_id %}" class="btn btn-success nav-link mr-3" id="button3">Registration</a></li>
                {% endif %}
                <li role="presentation" class="nav-item"><a href="{% url 'signUp:logging_out' %}" class="btn btn-success nav-link mr-3" id="button1">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="alerts">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <center style="margin-top: 70px;">{{ message }}</center>
            </div>
        {% endfor %}
     {% endif %}
</div>
    <div class="container">
        <div class="row main-row ml-2">
            <div class="col col-4">
                <div class="row">
                    <div class="col">
                        <div class="profile-pic" style="height:350px;"><img src="{{ profile_pic_url }}" class="profile-img" style="width:200px;height:200px;">
                            <h1>{{user_name}}</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="profile-links">
                            <p>Profile</p>
                            <ul id="profile-links">
                                {% if role == "Student" %}
                                    <li><i class="fa fa-user icon"></i><a class="profile-btn btn1 disabled" aria-disabled="true" href="{% url 'signUp:profileStudent' student_id %}">My Profile</a></li>
                                    <li><i class="fa fa-edit icon"></i><a class="profile-btn btn2" href="{% url 'signUp:editProfileStudent' student_id %}">Edit Profile</a></li>
                                {% else %}
                                    <li><i class="fa fa-user icon"></i><a class="profile-btn btn1 disabled" aria-disabled="true" href="{% url 'signUp:profileTeacher' teacher_id %}">My Profile</a></li>
                                    <li><i class="fa fa-edit icon"></i><a class="profile-btn btn2" href="{% url 'signUp:editProfileTeacher' teacher_id %}">Edit Profile</a></li>
                                {% endif %}
                                <li><i class="fa fa-envelope-o icon"></i><a class="profile-btn btn3" href="{% url 'messaging:messaging' %}">Messages</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-8">
                <div class="profile-info">
                    <div class="card profile-info-card" style="height:800px;">
                        <div class="card-body">
                            <h1>Conversation</h1>
                            {% if role == "Student" %}
                                <a href="{% url 'messaging:studentMessageBox' %}" class="card-link">Compose Message</a>
                                <a href="{% url 'messaging:inboxStudent' %}" class="card-link">Inbox</a>
                                <a href="{% url 'messaging:sentboxStudent' %}" class="card-link">Sentbox</a>
                            {% else %}
                                <a href="{% url 'messaging:teacherMessageBox' %}" class="card-link">Compose Message</a>
                                <a href="{% url 'messaging:inboxTeacher' %}" class="card-link">Inbox</a>
                                <a href="{% url 'messaging:sentboxTeacher' %}" class="card-link">Sentbox</a>
                            {% endif %}
                            {% for message in messageObjects %}
                                <div class="message message{{forloop.counter}}">
                                    <br/>
                                    <p style="border: none; padding-bottom: 0px;margin-bottom:0px; font-weight: bold; font-size: 20px;">{{ message.sender.user_name }}</p>
                                    <ul style="padding: 0px;list-style-type:none; font-size: 10px;">
                                        <li>to {{ message.receiver.user_name }}</li>
                                        <li>Sent on {{ message.pub_date }}</li>
                                    </ul>
<!--                                    <p style="border: none; font-weight: normal; font-size: 15px;">to {{ message.receiver.user_name }}</p>-->
<!--                                    <p style="border: none; font-weight: normal; font-size: 15px;;">Sent on {{ message.pub_date }}</p>-->
                                    {% if forloop.counter != messageObjects|length %}
                                        <p style="font-weight: normal; font-size: 20px;padding-bottom: 20px;">{{ message.message }}</p>
                                    {% else %}
                                        <p style="border: none; font-weight: normal; font-size: 20px;">{{ message.message }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            {% if replyClicked is False %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-success reply-btn" name="reply" type="submit" value="reply">Reply</button>
                                </form>
                            {% else %}
                                <p style="border: none; font-weight: bold; font-size: 20px;">{{ receiver.user_name }}</p>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-success send-btn" name="send" type="submit">Send</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>