<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'signUp/home.css' %}">
</head>

<body><nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
    <div class="container"><a href="#" class="navbar-brand" id="lms">Learning Managemet System</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse d-flex flex-row justify-content-end"
            id="navcol-1">
            <ul class="nav navbar-nav" id="nav-items">
                <li role="presentation" class="nav-item"><a href="{% url 'signUp:loginForm' %}" class="btn btn-success nav-link mr-3" id="button1">Log in</a></li>
                <li role="presentation" class="nav-item"><a href="{% url 'signUp:signUpStudent' %}" class="btn btn-danger nav-link mr-3" id="button2">Register as Student</a></li>
                <li role="presentation" class="nav-item"><a href="{% url 'signUp:signUpTeacher' %}" class="btn btn-danger nav-link mr-3" id="button3">Register as Teacher</a></li>
            </ul>
        </div>
    </div>
</nav>
    <section class="cover" style="width:100%;height:200vh;background-image:url(&quot;/static/images/book.jpg&quot;);background-position:100% 100%;background-repeat:no-repeat;background-size:cover;"></section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>