<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css">
    <link rel="stylesheet" href="{% static 'classroom/home.css' %}">
</head>

<body style="background-color:rgb(214,221,228);"><nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
    <div class="container"><a href="#" class="navbar-brand" id="lms">Learning Managemet System</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse d-flex flex-row justify-content-end"
            id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a href="{% url 'classroom:home' %}" class="btn btn-success nav-link mr-3" id="button2">Home</a></li>
                <li role="presentation" class="nav-item"><a href="{% url 'classroom:registration' student_id %}" class="btn btn-success nav-link mr-3" id="button3">Registration</a></li>
                <li role="presentation" class="nav-item"><a href="{% url 'signUp:logging_out' %}" class="btn btn-success nav-link mr-3" id="button1">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="alerts">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <center style="margin-top: 70px;">{{ message }}</center>
            </div>
        {% endfor %}
     {% endif %}
</div>
    <h1 class="heading">Learning Management System</h1>
    <div class="row main-row">
        <div class="col">
            <div class="home">
                <div class="card home">
                    <div class="card-body">
                        <ul class="home">
                            <li><i class="fa fa-home"></i><a href="{% url 'classroom:home' %}">Home</a></li>
<!--                            <li><i class="typcn typcn-home-outline"></i><a href="#">My Home</a></li>-->
                            <li><i class="fa fa-user"></i><a href="{% url 'signUp:profileStudent' student_id%}">&nbspMy Profile</a></li>
                            <li><i class="fa fa-book"></i><a href="{% url 'classroom:myCoursesStudent' student_id %}">My Courses</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <div class="course">
                <h1>Available Courses</h1>
                {% for course in courses %}
                <div class="card course-card">
                    <div class="card-body">
                        <h4 class="card-title"><a href = "{% url 'classroom:courseStudent' course.pk %}">{{ course.course_no }}: {{ course.course_name }}</a></h4>
                        <div class="row">
                            <div class="col">
                                <div class="teacher">
                                    <ul class="course-list">
                                        <li>Teacher:
                                            {% for teacher in course.assignedTeachers.all %}&nbsp;
                                                <a href="#">{{ teacher.first_name }} {{ teacher.last_name }}</a>
                                                <br/>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="course">
                                    <ul>
                                        <li>{{ course.course_no}}: {{course.course_name }}</li>
                                        <li><a href="{% url 'classroom:courseDetail' course.pk %}">Course Detail</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="evnets">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Events</h4>
                        <ul class="events">
                            {% for quiz in quizes %}
                            <li><a href="{% url 'classroom:quizStudent' quiz.pk %}">{{quiz.course.course_no}} Quiz</br> {{ quiz.exam_date }}( Starts at {{ quiz.start_time }} )</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>