<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'signUp/profile.css' %}">
</head>

<body class="heading" style="background-color:rgb(200,212,213);"><nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
    <div class="container"><a href="#" class="navbar-brand" id="nav-brand">Learning Managemet System</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse d-flex flex-row justify-content-end"
            id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a href="{% url 'signUp:logging_out' %}" class="btn btn-success nav-link mr-3" id="button1">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <div class="row main-row ml-2">
            <div class="col col-4">
                <div class="row">
                    <div class="col">
                        <div class="profile-pic" style="height:350px;"><img src="{% static 'images/profile-img.png' %}" class="profile-img" style="width:200px;height:200px;">
                            <h1>{{user_name}}</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="profile-links">
                            <p>Profile</p><ul id="profile-links">
    <li><i class="fa fa-user icon"></i><a class="profile-btn btn1 disabled" aria-disabled="true" href="#">My Profile</a></li>
    <li><i class="fa fa-edit icon"></i><a class="profile-btn btn2" href="#">Edit Profile</a></li>
    <li><i class="fa fa-envelope-o icon"></i><a class="profile-btn btn3" href="{% url 'signUp:messagingTeacher' %}">Messages</a></li>
</ul></div>
                    </div>
                </div>
            </div>
            <div class="col col-8">
                <div class="profile-info">
                    <div class="card profile-info-card" style="height:800px;">
                        <div class="card-body">
                            <h1>Messaging</h1>
                            <div class="links">
                                <a href="{% url 'signUp:teacherMessageBox' %}" class="card-link">Compose Message</a>
                                <a href="{% url 'signUp:inboxTeacher' %}" class="card-link">Inbox</a>
                                <a href="{% url 'signUp:sentboxTeacher' %}" class="card-link">Sentbox</a>
                            </div>
                            {% for objects in messageObjects %}
                            <div class="card profile-info-card message-card">
                                <div class="card-body">
                                    <h4 class="card-title">{{ objects.sender.user_name }}</h4>
                                    <p class="card-text">{{ objects.message }}</p>
                                    <p>Sent on {{ objects.pub_date }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>